@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{
	margin:0;
	padding:0;
}

fieldset,img{
	border:0;
}

img,object,embed{
	vertical-align:bottom;
}

address,caption,cite,code,dfn,em,th,var{
	font-weight:normal; 
	font-style:normal;
}

ol,ul{
	list-style:none;
}

caption,th{
	text-align:left;
}

h1,h2,h3,h4,h5,h6{
	font-size:100%;
}

q:before,q:after{
	content:'';
}

a *{
	cursor:pointer;
}

input,textarea{
	outline:none;
}

html{
	min-width:220px; 
	height:100%;
}

body{
	font:12px/1.2 'Open Sans', Helvetica, sans-serif;
	position:relative;
	min-width:220px;
	height:100%;
	color:#000;
	background:#fff;
}

a{
	text-decoration:none; 
	color:#2600ff;
}

*{
	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
	     -o-transition:all .3s;
	        transition:all .3s;
}

*{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
*:before,*:after{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
* ::-moz-selection{
	color:#fff; 
	background:#2600ff;
}
* ::selection{
	color:#fff; 
	background:#2600ff;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color:#999;
}
input:-moz-placeholder,textarea:-moz-placeholder{
	opacity:1; 
	color:#999;
}
input::-moz-placeholder,textarea::-moz-placeholder{
	opacity:1; 
	color:#999;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
	color:#999;
}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{
	color:transparent;
}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{
	color:transparent;
}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder{
	color:transparent;
}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{
	color:transparent;
}
input.placeholder,textarea.placeholder{
	color:#999 !important;
}



.wrapper{
	position:relative;
	z-index:10001; 
	display:table;
	width:100%;
	height:100%;
	table-layout:fixed;
	background-color:#eaeaea;
}

.header{
	text-align:center;
	background:#fff;
	min-height: 75px;
	height: 75px;
}




.container{
	display:table-row;
	height:100%;
}

.block{
	display:table-cell;
	padding:0 10px; 
	vertical-align:middle;
}
.middle {
	height: 100%;
}
.middle .header-list{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
	color:#fff;
	border-bottom: 1px solid #b5b5b5;
	-webkit-box-shadow: 0px 5px 43px -15px rgba(0,0,0,0.83);
	-moz-box-shadow: 0px 5px 43px -15px rgba(0,0,0,0.83);
	box-shadow: 0px 5px 43px -15px rgba(0,0,0,0.83);

}
.middle .header-list .header-item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33.3%;
	height: 100%;
}
.middle .header-list .header-item:nth-child(2){
	position: relative;
}
.middle .header-list .header-item:nth-child(2)::before{
	position: absolute;
	content:'';
	height: 100%;
	width: 1px;
	left: 0;
	background-color: #b5b5b5;
}
.middle .header-list .header-item:nth-child(2)::after{
	position: absolute;
	content:'';
	height: 100%;
	width: 1px;
	right: 0;
	background-color: #b5b5b5;
}

.header-item .item-text{
	text-transform: uppercase;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 100;
	color: #3f3f3f;
}

.animated{
	-webkit-animation-duration:.3s;
	   -moz-animation-duration:.3s;
	     -o-animation-duration:.3s;
	        animation-duration:.3s;

	-webkit-animation-fill-mode:both;

	   -moz-animation-fill-mode:both;

	     -o-animation-fill-mode:both;

	        animation-fill-mode:both;
}



.box{
	position:relative;
	overflow:hidden;
	min-width:290px;
	max-width:1200px;
	margin:0 auto;
	text-align:center;
	-webkit-border-radius:15px;
	   -moz-border-radius:15px;
	        border-radius:15px;
	background:#fff;
	-webkit-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 13px -2px rgba(0,0,0,0.75);
}
@media screen and (max-width: 1025px){
	.box{
		max-width: 795px;
	}
}
@-webkit-keyframes zoomIn{
	0%{
		-webkit-transform:scale3d(.3, .3, .3);
		        transform:scale3d(.3, .3, .3); 
		opacity:0;
	}

	50%{
		opacity:1;
	}
}

@-moz-keyframes zoomIn{
	0%{
		-moz-transform:scale3d(.3, .3, .3);
		     transform:scale3d(.3, .3, .3); 
		opacity:0;
	}

	50%{
		opacity:1;
	}
}

@-o-keyframes zoomIn{
	0%{
		transform:scale3d(.3, .3, .3); 
		opacity:0;
	}

	50%{
		opacity:1;
	}
}

@keyframes zoomIn{
	0%{
		-webkit-transform:scale3d(.3, .3, .3);
		   -moz-transform:scale3d(.3, .3, .3);
		        transform:scale3d(.3, .3, .3); 
		opacity:0;
	}

	50%{
		opacity:1;
	}
}

.zoomIn{
	-webkit-animation-name:zoomIn;
	   -moz-animation-name:zoomIn;
	     -o-animation-name:zoomIn;
	        animation-name:zoomIn;
}

.top_panel{
	font-size:32px;
	font-weight:100;
	line-height:32px;
	padding:20px 18px;
	text-align:center; 
	border-bottom:1px solid #e0e0df;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}
@media screen and (min-width: 0) and (max-width: 620px){
	.top_panel{
		font-size:20px;
		line-height:22px;
		padding:10px 15px;
		
	}
}

.item{
	margin:15px 0 0;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin-top: 50px;
}
@media screen and (max-width: 1000px) and (max-height: 435px){
	.item{
		margin-top:10px;
	}
}

.accept{
	display: flex;
	align-items:center;
	justify-content: center;
}
.accept .accept_text{
		font-size: 25px;
		line-height: 32px;
		text-align: left;
		margin-left: 25px;
}
.accept img{
	display:block;
	height:auto;
}



.item .text{
	font-size:28px;
	margin:30px 0 0; 
	font-weight: 600;
	color:#000;
}
@media screen and (min-width: 0) and (max-width: 620px){
	.text{
		font-size:16px; 
		margin-top:5px;
	}
}
@media screen and (max-width: 1000px) and (max-height: 400px){
	.text{
		font-size:14px;
		line-height:16px;
	}
}

.holder{
	font-size:0; 
	margin:15px 0 0;
	user-select: none;
	margin-bottom: 25px;
}
@media screen and (min-width: 0) and (max-width: 620px){
	.holder{
		padding:0 10px;
	}
}
@media screen and (max-width: 1000px) and (max-height: 435px){
	.holder{
		margin-top:10px;
	}
}

.btn{
	margin: 25px 0;
	line-height:74px;
	display:inline-block;
	min-width:327px;
	padding:0;
	text-transform: uppercase;
	cursor:pointer;
	vertical-align:top;
	color:#fff;
	border:1px solid rgb(78,40,199);
	outline:none;
	background: rgb(78,40,199);
background: linear-gradient(180deg, rgba(78,40,199,1) 0%, rgba(54,22,157,1) 100%);

}
@media screen and (min-width: 0) and (max-width: 620px){
	.btn{
		line-height:66px;
		min-width:260px;
	}
}
@media screen and (max-width: 1000px) and (max-height: 500px){
	.btn{
		line-height:55px;
	}
}
@media screen and (max-width: 1000px) and (max-height: 400px){
	.btn{
		line-height:44px;
	}
}
.btn span{
	font-size:30px; 
	display:inline-block;
	vertical-align:middle;
}
@media screen and (min-width: 0) and (max-width: 620px){
	.btn span{
		font-size:28px;
	}
}
@media screen and (max-width: 1000px) and (max-height: 400px){
	.btn span{
		font-size:25px;
	}
}
.btn .ico_arrow{
	display:inline-block;
	margin:0 0 0 15px;
	vertical-align:middle;
}
.btn .ico_arrow img{
	display:inline-block;
	vertical-align:middle;
}


.footer{
	display:table-row;
	height:1px;
	text-align:center;
}

.regulations{
	font-size:16px;
	padding:10px 10px; 
	color:#b5b5b5;
}
@media screen and (min-width: 0) and (max-width: 765px){
	.regulations{
		padding: 5px 10px;
		font-size:12px;
		line-height: 12px;
	}
	.top_panel{
		font-size: 20px;
		line-height: 14px;
		padding: 14px 15px;
	}
}
.regulations a{
	text-decoration:none; 
	color:#E9EAEA;
}
.regulations a:hover{
	text-decoration:underline;
}
@media screen and (min-width: 0) and (max-width: 435px){
	.header-item .item-text {
		margin-left: 5px;
		font-size: 17px;
	}
	.box{
		border-radius: 5px;
	}
	.middle .header-list .header-item img{
		height: 20px;
	}
	.header {
		min-height: 50px;
		height: 50px;
	}
	.accept .accept_text {
		font-size: 17px;
		line-height: 20px;
		margin-left: 15px;
	}
	.accept img{
		width: 50px;
	}
	.item .text {
		font-size: 21px;
		margin: 30px 45px 0;
	}
	.holder {
		margin:  0 0 15px;
	}
	.btn{
		padding: 10px 0;
		margin: 15px 0;
	}
}
@media screen and (max-height: 435px) and (max-width: 1000px){
	.header-item .item-text {
		margin-left: 5px;
		font-size: 17px;
	}
	.top_panel {
		font-size: 20px;
		line-height: 20px;
		padding: 10px 18px;
	}
	.btn {
		margin: 13px 0;
		padding: 10px 0;
	}
	.header {
		min-height: 50px;
		height: 50px;
	}
	.box {
		max-width: 655px;
	}
	.middle .header-list .header-item img{
		height: 20px;
	}
	.accept .accept_text {
		font-size: 17px;
		line-height: 20px;
		margin-left: 15px;
	}
	.item .text {
		font-size: 24px;
		margin: 18px 0 0;
		font-weight: 600;
		color: #000;
	}
	.accept img{
		width: 50px;
	}
	.holder {
		margin-bottom: 0px;
	}
	.regulations {
		font-size: 13px;
	}
}
@media screen and (max-height: 350px) and (max-width: 570px){
	.btn {
		margin: 15px 0;
	}
	.regulations {
		font-size: 9px;
	}
}
@media screen  and (max-width: 640px) and (max-height: 360px){
	.header {
		min-height: 30px;
		height: 30px;
	}
	.top_panel {
		font-size: 17px;
		line-height: 10px;
		padding: 8px 18px;
	}
	.header-item .item-text {
		font-size: 13px;
	}
	.item .text {
		font-size: 21px;
		margin: 10px 0 0;
	}
	.btn {
		margin: 10px 0;
	}
}
@media screen  and (max-width: 330px){
	.header {
		min-height: 40px;
		height: 40px;
	}
	.header-item .item-text {
		margin-left: 5px;
		font-size: 13px;
	}
	.item {
		margin-top: 15px;
	}
	.item .text {
		font-size: 18px;
		margin: 17px 45px 0;
	}
	.regulations {
		font-size: 11px;
		line-height: 11px;
	}
}